.home-page-heading h2 {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.text {
    color: #14BC9A;
}

.main-jobs,
.main-candidates {
    padding: 10px;
    margin: 2px;
    border: none;
    background-color: grey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main-jobs {
    width: 140px;
}

.candidates {
    padding: 15px 40px;
    border: 1px solid rgb(235, 229, 229);
}

.mainpage-searchbox {
    font-size: 14px;
    margin-top: 30px;
    
}

.search {
    padding: 8px;
    color: ghostwhite;
    background-color: #14BC9A;
    width: 100px;
    border-radius: 8px;
    border: 1px solid #14BC9A;
    margin-left: -45px;
    height: 45px;
    margin-top: 0px;
}

#candidates-one {
    width: 34vw;
    min-width: 200px;
    border-right: 1px solid grey;
}

#candidates-two {
    width: 410px;
}

SearchIcon {
    margin: 0 10px;
}

.search-container {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 3px 3px rgb(248, 248, 248);
    width:-moz-fit-content;
    width:fit-content;
    justify-content: center;
    
}

.search-box1 svg,
.search-box2 svg {
    position: absolute;
    margin-top: 12px;
    margin-left: 15px;
}

.candidates {
    border: none;
}

.candidates:focus {
    border: none;
}

.search-icon2 {
    position: absolute;
    top: 10px;
    color: white;
    right: 85px;
    left: 30px;
}

.photo-container {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    left: 1150px;
    top: -70px;
}

.photoplace {
    height: 300px;
}

.main-para {
    text-align: center;
    color: #9398A1;
    font-size: .975em;
    margin-top: -20px;
}

.main-root {
    height: inherit;
}

.home-page-heading {
    margin-top: 30px;
}

.mainpage-search-container{
    display: flex;
    justify-content: center;
    
    
}
