.card-contents {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.job-card {
    height: 150px;
    width: 200px;
    margin: 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 3px 15px rgba(49, 65, 88, .12156862745098039);
}

.job-card img {
    width: auto;
    height: 30px;
}

.card-image{
    width: 120px;
}

h5,
p {
    margin-left: 5px;
}

p {
    text-align: left;
}

.job-card:hover {
    border: 1px solid #14BC9A;
}

.GenInvo {
    width: 100px;
}