.marque-container button{
    background-color: #14BC9A;
    border:none;
    outline:none;
    padding:10px 15px;
    color:white;
    position:absolute;
    top:3em;
    left:5em;
    z-index: 1;
}

.marque-content marquee{
    position: absolute;
    top:3em;
    cursor: pointer;
    
}

.marque-content img{
    height:2.5em;
    width:3.5em;
    margin:0 1.3em;
    
    
}

.marque-content h4{
    display: inline;
    
}

.blog-image-container{
    display: flex;
    flex-wrap: wrap;
    
}

.image-box1{
    /* flex:0 1 50%; */
    position:relative;
    flex: 0 1 50% ;
}

.blog-container section{
    margin:10% 0 0 0;
    background-color: #dbdbdb;
    height:max-content;
}

.image-box1 img{
    height:200px;
    width:300px;
    object-fit:cover;
}

.image-box1-content{
    position:absolute;
    top:35%;
    padding: 15px 18px 13px;
    /* background-image: linear-gradient(to top, #1a1919, transparent); */
    width: calc(100% - 485px);
        
}

.blog-middle-container{
    display: flex;
}
.blog-querybox{
margin: 2em 30% auto 5%;
background-color: white;
border-top: 1px solid #14BC9A;
}

.salary-query{
    display: flex;
}

.blog-query-container{
    margin:2em 10% auto -20%;
}
.salary-query figure{
    flex: 0 1 35%;
}
.salary-query-content{
    flex:0 1 65%;
}

.blog-category{
    background-color: white;
    width:300px;
    height:100px;
}

.blog-n2{
    height:50px;
    width:50px;
    border-radius: 50%;
    background-color: #dbdbdb;
}

.blog-trend-news{
    background-color: white;
}


