.register-root,
.register-page-container,
.register-image-container {
    width: inherit;
    height: inherit;
}
.register-root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.register-page-container{
    width: 100Vw;
    overflow-y: hidden;
    padding-top: 3rem;
    min-height: 93vh;
    max-height: 100vh;
}

.register-page-container .register-image-container {
    display: flex;
    width:100vw;
    max-height: 100vh;
}
.register-page-container .register-image-container .register-image-content{
    background-color: rgb(248, 247, 247);
    display: flex;
    flex-direction: unset;
    align-items: center;
    flex:0.45 1;
    height:100vh;
    max-height: 87vh;
    justify-content: center;
}

.register-profile-content {
    grid-column-gap:20px ;
    column-gap: 20px;
    grid-row-gap:20px;
    row-gap: 20px;
    flex-wrap: nowrap;
}

.profile-card {
    
    border-radius: 24px;
    text-align: center;
    padding: 40px 20px 20px;
}
.register-img-data{
    margin-bottom: 2rem;
}
.register-image-content {
    width: 35%;
}

.register-banner-image {
    /* height: inherit; */
    width: 82%;
    margin:auto auto 40px 10%;
}

.register-page-container .register-heading1{
    font-size: 1.25em;
    font-weight: 700;
    text-align: center;
    margin: 0 20px;
}

.register-page-container .register-heading1 span{
    margin-top: 68px;
    margin-left: 0;
    font-weight: 700;
    color:#14BC9A;
}

.register-page-container .register-image-learn{
    margin: 2% 5% 30px 10%;
    font-size: 0.875em;
    border: 1px solid #14BC9A;
    font-family: "Plus Jakarta Sans",sans-serif;
    color:#14BC9A;
    border-radius: 8px;
    font-weight: 600;
    padding:.625em;
    cursor: pointer;
    background-color: transparent;
}
.register-image-label {
    margin-top: 20px;
}
.register-image-label h4{
    font-size: 1.25em;
    font-weight: 700;
}

.register-form{
    display: flex;
    flex: 1 1 ;
    max-height: 88vh;
    overflow-y: scroll;
    float: right;

}

.register-form .register-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

.profile-heading{
font-size: 1.5em;
font-weight: 600;
margin-bottom: 10%;
text-align: center;
font-family: "Plus Jakarta Sans",sans-serif;
margin-top: 0;
line-height: 1.2;
}

.register-image-para {
    border: 1px solid #14BC9A;
    height:30px;
    width: 80%;
    padding: 3px;
    border-radius: 5px;
}
.register-image-para p{
    margin-top:5px;
    font-size: .825em;
    font-weight: 500;
}

.register-image-para .register-image-learn {
    text-align: center;
    color: #14BC9A;
    font-size: 600;
    

}
.register-candidate-profile, 
.register-employer-profile{
    border:1px solid #dbdbdb;
    height:190px;
    width:180px;
    border-radius:20px;
    
}
.register-profile-content{
    display:flex;
}
.register-profile-heading{
    margin-top:10px;
    
}
.register-employer-profile{
    margin-left:18px;
    text-align: center;
    align: center;
}
.register-employer-profile p{
    text-align: center;
    font-size: .875em;
    color:#b1abab;
}
.register-candidate-profile{
    text-align:center;
}
.register-candidate-profile p{
    text-align: center;
    font-size: .875em;
    color:rgb(153, 148, 148);
}
.register-form h3{
    margin-left:15%;
    color:#212529;
    font-size: 1.275em;
    font-weight: 600;
    margin-bottom: 5%;
}
.register-link{
    text-decoration: none;
    border:none;
    background-color: white;
}
.register-candidate-icon p{
    color:grey;
}
