.register-root,
.register-page-container,
.register-image-container {
    width: inherit;
    height: inherit;
}

.register-image-container {
    display: flex;
}
.register-image-content,
.register-form {
    width: 50%;
}
.register-form {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-top: 12%;
}
.register-img-data {
    display: grid;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin-top: 15%;
    width: 65%;
}
.register-banner-image {
    height: inherit;
    width: 82%;
}
.register-image-label {
    margin-top: 20px;
}
.register-image-para {
    border: 1px solid #14BC9A;
    height: 5%;
    width: 70%;
    padding: 3px;
    border-radius: 5px;

}

.register-image-para .register-image-learn {
    text-align: center;
    color: #14BC9A;
    font-size: 600;

}
.register-candidate-profile, 
.register-employer-profile{
    border:1px solid #dbdbdb;
    height:190px;
    width:180px;
    border-radius:20px;
    
}
.register-profile-content{
    display:flex;
}
.register-profile-heading{
    margin-top:10px;
    
}
.register-employer-profile{
    margin-left:18px;
    text-align: center;
    align: center;
}
.register-employer-profile p{
    text-align: center;
}
.register-candidate-profile{
    text-align:center;
}
.register-candidate-profile p{
    text-align: center;
}
.register-form h3{
    margin-left:15%;
    color:#212529;
    font-size: 1.275em;
    font-weight: 600;
    margin-bottom: 5%;
}
.register-link{
    text-decoration: none;
    border:none;
    background-color: white;
}
