footer {
    background-color: #0b264c;
    color: white;
    height: 80px;
    /* max-width:100%;
    min-width: 100%; */
    position: relative;
    top:20px;
    bottom: 0px;
    width:100vw;
    overflow-x:hidden;
    overflow-y: hidden;
    display:flexbox;
    flex-wrap: wrap;
}

.div_footer {
    padding: 0 50px;
    /* max-width: 100%;
    min-width: 100%; */
    margin: auto;
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(136, 133, 133);
    flex-wrap: wrap;

}

.footer_btm .div_footer {
    padding: inherit;
}

.py-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.ps-0 {
    padding-left: 0 !important;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
    position:relative;
    left:100px;
    padding:3px;
}

.nav {
    display: flex;
    /* justify-content:center; */
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-link{
color:rgb(189, 185, 185);
font-size: .875em;
}

.footer_btm {
    border-top: 1px solid #173860;
    font-size: 1em;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.div_f_c {
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: flex-end;
}

.text-muted {
    font-size: .875em;
    --bs-text-opacity: 1;
    color: #6c757d !important;
    position: relative;
    left:100px;
}

.icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
}

.icons li {
    list-style: none;
    min-width: 10px !important;
    min-height: 20px !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.d-flex{
    padding:5px;
    height:50px;
}