.gridicon {
    
    /* display: flex; */
    
    
    
}

.jobsearch-view{
    display:flex;
}

.gridview{
    margin-top: 100px;
    margin-left:15px;
}

.listicon {
    margin-top: 100px;
    margin-left: 5px;
}

.card-contents {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.job-card-container {
    padding: 10px;
    height: -webkit-fill-available;
    height: -moz-available;
    width: 800px;
    margin-top: -70px;
    margin-left: -760px;
}

.table {
    margin-left: -750px;
    margin-top: 50px;
    border-collapse: collapse;
    width: 850px;
}

th,
td {
    border: 1px solid white;
    text-align: left;
    padding: 5px;
    color: grey;
    font-size: .900em;
    border-bottom: 1px solid rgb(233, 227, 227) !important;

}

.position {
    width: 200px;
}

.job-type {
    width: 80px;
}

td {
    font-weight: 500;

}

tr {
    cursor: pointer;
}

.background:hover {
    background-color: rgb(241, 238, 238);
    border-left: 4px solid #14BC9A;
}

.skills {
    width: 160px;
}